[submodule "LaunchAtLoginController"]
	path = LaunchAtLoginController
	url = git://github.com/Mozketo/LaunchAtLoginController.git
[submodule "VDKQueue"]
	path = VDKQueue
	url = https://github.com/bdkjones/VDKQueue.git
