<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaunchAtLogin</key>
	<false/>
	<key>Presets</key>
	<array>
		<dict>
			<key>ShouldAutoMount</key>
			<false/>
			<key>VolumeLabel</key>
			<string>RAMdisk</string>
			<key>VolumeSize</key>
			<integer>1024</integer>
		</dict>
	</array>
</dict>
</plist>
